/*footer*/
.bag {
    position: absolute;
    padding-right: 1400px;
}

footer {
    padding: 20px 0px;
    background-color: #458FF6;
    color: white;
    display: flex;
    justify-content: space-around;
}

footer article {
    display: flex;
}

footer article .icon {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 33px;
    padding-left: 10px;
    width: 27px;
    height: 38px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    color: #458FF6;
}

footer aside {
    padding: 10px 100px;
    display: flex;
}

footer aside a {
    margin: 2px 30px;
    font-size: 20px;
    color: #fff;
}

.footer{
    margin-top: 800px;
}